<div class="status" [ngSwitch]="status">
  <div class="online" *ngSwitchCase="'ONLINE'">ONLINE</div>
  <div class="offline" *ngSwitchCase="'OFFLINE'">OFFLINE</div>
  <div class="rebooting" *ngSwitchCase="'REBOOTING'">REBOOTING</div>
  <div *ngSwitchDefault>-</div>
</div>
