<ng-container *ngIf="servers$ | async as servers; else elseTemplate">
  <div class="mb-3">Servers: {{ servers.length || 0 }}</div>
  <mat-card>
    <mat-list>
      <mat-list-item
        *ngFor="let server of servers; trackBy: trackByFn"
        class="list-item"
      >
        <app-server-detail [server]="server"></app-server-detail>
      </mat-list-item>
    </mat-list>
  </mat-card>
</ng-container>
<ng-template #elseTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
