<div class="row align-items-center">
  <div class="col">
    <app-server-status [status]="server.status"></app-server-status>
  </div>
  <div class="col name">{{ server.name }}</div>
  <div class="col-auto action">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Server actions"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [disabled]="server.status === 'ONLINE'"
        (click)="startServer()"
      >
        <mat-icon>play_arrow</mat-icon>
        <span>Start</span>
      </button>
      <button
        mat-menu-item
        [disabled]="server.status === 'OFFLINE'"
        (click)="stopServer()"
      >
        <mat-icon>stop</mat-icon>
        <span>Stop</span>
      </button>
      <button
        mat-menu-item
        [disabled]="server.status === 'REBOOTING'"
        (click)="rebootServer()"
      >
        <mat-icon>replay</mat-icon>
        <span>Reboot</span>
      </button>
    </mat-menu>
  </div>
</div>
